* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.main__wikiButton:hover, .header__photo {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.main__wikiButton:hover, .main__wikiButton {
  font-size: 20px;
  color: #e0fbfc;
  max-width: 450px;
  max-height: 50px;
  line-height: 45px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border: 2px solid #ee6c4d;
  background-color: #293241;
  border-radius: 10px;
}

.footer, .main, .header {
  max-width: 800px;
  background-color: #DEE2EC;
  margin: 0 auto;
}

body {
  background-image: url(../img/bg.jpg);
  color: #8C756A;
}

.header {
  text-align: center;
  border-bottom: 1px solid #1AC8DB;
}

.header h1 {
  font-size: 30px;
  color: #8C756A;
  font-weight: 700;
  padding-top: 30px;
}

.header__birthday {
  font-size: 20px;
  color: #8C756A;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__photo {
  width: 328px;
  height: 500px;
  background-image: url("../img/Hilleman.jpeg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0 auto 30px auto;
  position: relative;
}

.header_overlay {
  width: 100%;
  height: 100%;
  background-color: #e0fbfc;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #0292B7;
  font-size: 20px;
  color: #8C756A;
  padding: 15px;
  font-style: italic;
  text-align: justify;
}

.header_overlay img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.header__photo:hover .header_overlay {
  opacity: 1;
}

.main {
  font-size: 20px;
  color: #8C756A;
  text-align: justify;
  padding: 25px;
}

.main h2 {
  font-size: 25px;
  color: #8C756A;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 30px;
  text-align: center;
}

.main p {
  padding-top: 15px;
  padding-bottom: 15px;
  text-indent: 50px;
}

.main p:first-child {
  padding-top: 0px;
}

.main p::first-letter {
  color: #0292B7;
  font-weight: 700;
}

.main__content > div:first-of-type {
  display: inline-block;
  width: 270px;
  height: 150px;
  background-image: url(../img/1949.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  margin: 0 15px 15px 15px;
}

.main__content > div:last-of-type {
  display: inline-block;
  width: 150px;
  height: 225px;
  background-image: url(../img/1957.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  float: right;
  margin: 0 15px 15px 15px;
}

.footer {
  font-size: 20px;
  color: #8C756A;
  text-align: center;
  border-top: 1px solid #1AC8DB;
  padding-top: 25px;
  padding-bottom: 25px;
}