//Обнуление
@import "nullstyle.scss";
//-----

//Стили кнопок, тени, текст
@import "elements_style.scss";
//-----


@mixin imgstyle($w, $h, $url){
    display: inline-block;
    width: $w;
    height: $h;
    background-image: $url;
    background-repeat: no-repeat;
    @if $w < $h {background-size: 100% auto;}
    @if $w > $h {background-size: auto 100%;}
}


body{
    background-image: url(../img/bg.jpg);
    color: #8C756A;
}


.header{
    @extend %blockStyle;
    text-align: center;
    border-bottom: 1px solid #1AC8DB;
}
.header h1{
    @include fontstyle(30px,  #8C756A);
    font-weight: 700;
    padding-top: 30px;
}
.header__birthday{
    @include fontstyle(20px,  #8C756A);
    padding-top: 30px;
    padding-bottom: 30px;
}
.header__photo{
    width: 328px;
    height: 500px;
    background-image: url('../img/Hilleman.jpeg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0 auto 30px auto;
    position: relative;
    @extend %shadow;
}
.header_overlay{
    width: 100%;
    height: 100%;
    background-color: #e0fbfc;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #0292B7;
    @include fontstyle(20px,  #8C756A);
    padding: 15px;
    font-style: italic;
    text-align: justify;
}
.header_overlay img{
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}
.header__photo:hover .header_overlay{
    opacity: 1;
}


.main{
    @extend %blockStyle;
    @include fontstyle(20px,  #8C756A);
    text-align: justify;
    padding: 25px;
}
.main h2{
    @include fontstyle(25px,  #8C756A);
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
}
.main p{
    padding-top: 15px;
    padding-bottom: 15px;
    text-indent: 50px;
}
.main p:first-child{
    padding-top: 0px;
}
.main p::first-letter{
    color: #0292B7;
    font-weight: 700;
}
.main__content>div:first-of-type{
    @include imgstyle(270px, 150px, url(../img/1949.jpg));
    float: left;
    margin: 0 15px 15px 15px;
}
.main__content>div:last-of-type{
    @include imgstyle(150px, 225px, url(../img/1957.jpg));
    float: right;
    margin: 0 15px 15px 15px;
}
.main__wikiButton{
    @extend %button;
}
.main__wikiButton:hover{
    @extend %button;
    @extend %shadow;
}

.footer{
    @extend %blockStyle;
    @include fontstyle(20px,  #8C756A);
    text-align: center;
    border-top: 1px solid #1AC8DB;
    padding-top: 25px;
    padding-bottom: 25px;
}